<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload PDF</title>
    <!-- Add the CSS styles here -->
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
    <form action="{% url 'paper_extract:upload_pdf' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="pdf_file">
        <input type="submit" value="Upload">
    </form>

    <button onclick="location.href='{% url 'paper_extract:extract_dois' %}'">Extract DOIs</button>

    <h2>Uploaded PDFs</h2>
    <ul>
    {% for pdf in all_pdfs %}
        <li>{{ pdf.file_name }} - Uploaded at: {{ pdf.upload_time|date:"F j, Y, P" }}
        <a href="{% url 'paper_extract:delete_pdf' pdf.id %}">Delete</a></li>
    {% endfor %}
    </ul>

    {% if papers %}
    <h2>Extracted Paper Details:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>DOI</th>
                <th>Title</th>
                <th>Authors</th>
                <th>Abstract</th>
                <th>Publication Date</th>
                <th>Concepts</th>
                <th>Referenced Works</th>
                <th>Related Works</th>
            </tr>
        </thead>
        <tbody>
            {% for paper in papers %}
            <tr>
                <td>{{ paper.doi }}</td>
                <td>{{ paper.title }}</td>
                <td>{{ paper.authors }}</td>
                <td>{{ paper.abstract }}</td>
                <td>{{ paper.publication_date }}</td>
                <td>{{ paper.concepts }}</td>
                <td>{{ paper.referenced_works }}</td>
                <td>{{ paper.related_works }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</body>
</html>
