<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload PDF</title>
</head>
<body>
    <form action="{% url 'paper_extract:upload_pdf' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="pdf_file">
        <input type="submit" value="Upload">
    </form>

    <button onclick="location.href='{% url 'paper_extract:extract_dois' %}'">Extract DOIs</button>

    <h2>Uploaded PDFs</h2>
    <ul>
    {% for pdf in all_pdfs %}
        <li>{{ pdf.file_name }} - Uploaded at: {{ pdf.upload_time|date:"F j, Y, P" }}
        <a href="{% url 'paper_extract:delete_pdf' pdf.id %}">Delete</a></li>
    {% endfor %}
    </ul>

    {% if papers %}
    <h2>Extracted Paper Details:</h2>
    <ul>
        {% for paper in papers %}
        <li>
            DOI: {{ paper.doi }}<br>
            Title: {{ paper.title }}<br>
            Authors: {{ paper.authors }}<br>
            Abstract: {{ paper.abstract }}<br>
            Publication Date: {{ paper.publication_date }}<br>
            Concepts: {{ paper.concepts }}<br>
<!-- Referenced Works: {{ paper.referenced_works }}<br> -->
<!-- Related Works: {{ paper.related_works }}<br> -->
        </li>
        {% endfor %}
    </ul>
    {% endif %}    

</body>
</html>
